<html>
    <head>
        <title>Daily Logs | Create a new Log</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>What did you do today?</h1>
        <form method="POST" action="logs/create">
            <div class="form-row">
                <div class="form-field">
                    <label for="date">Date:</label>
                    <% let currentDate = new Date();   
                        let year = currentDate.getFullYear(),
                            month = currentDate.getMonth() + 1,
                            day = currentDate.getDate(),
                            date = year + '-' + ('0' + (month)).slice(-2) + '-' + ('0' + day).slice(-2) %>
                    <input type="date" name="date" id="date" value="<%= date %>"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field col-md-6">
                    <label for="client">Client:</label>
                    <input type="text" name="client" id="client">
                </div>
                <div class="form-fields col-md-6">
                    <label for="project">Project:</label>
                    <input type="text" name="project" id="project">
                </div>
            </div>

            <div class="form-row">
                <div class="form-field">
                    <label for="Notes">Notes:</label>
                    <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="form-field">
                    <input type="submit" value="Log it">
                </div>
            </div>
        </form>
    </body>
</html>