<html>
    <head>
        <title>Daily Logs | Create a new Log</title>
    </head>
    <body>
        <h1>Holler, World</h1>
        <form action="">
            <label for="date">Date:</label>
            <input type="text" name="date" id="date"/>
            <label for="client">Client:</label>
            <input type="text" name="client" id="client">
            <label for="project">Project:</label>
            <input type="text" name="project" id="project">
            <label for="Notes">Notes:</label>
            <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
        </form>
    </body>
</html>